/********************************/
/*         JUMBOTRON            */
/********************************/

.card-image {
    background-image: url(../images/Nous_rejoindre/forest2.png);
    background-size: cover;
    width: 100%;
    height: 110vh;
    margin-top: -4%;
}

.card-image .text-center .area {
    margin-top: 33vh;
}